@model BLL.DTOs.LoginDTO
@{
    ViewData["Title"] = "Login";
}

<div class="auth-container">
    <h2>Log in</h2>

    @if (ViewBag.Error != null)
    {
        <p style="color:red;">@ViewBag.Error</p>
    }

    <form asp-action="Login" method="post">
        <input asp-for="Username" placeholder="Name" required />
        <input asp-for="Password" type="password" placeholder="Password" required />

        <button type="submit">Login</button>
    </form>
</div>
