@model FootballBettingWebApp.Models.User
@{
    ViewData["Title"] = "Register";
}

<div class="auth-container">
    <h2>Register</h2>

    <form asp-action="Register" method="post">
        <input asp-for="Username" placeholder="Name" required />
        <input asp-for="PasswordHash" type="password" placeholder="Password" required />
        <input asp-for="Age" type="number" placeholder="Age +18" min="18" required />

        <button type="submit">Register</button>
    </form>

    <p>Already have an acc? <a href="/User/Login">Login</a></p>
</div>
